{% extends 'base.html.twig' %}

{% block title %}Nouvel Auteur{% endblock %}

{% block body %}
    <h1>Créer un nouvel Auteur</h1>

    {{ include('auteur/_form.html.twig') }}

    <a href="{{ path('app_auteur_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}